*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}
.content{
  position: absolute;
  z-index: 1;
}
nav{
  color: white;
  z-index: 2;
  position: relative;
  display: flex;
  padding: 4rem 8rem;
  justify-content: space-between;
}
nav span{
  font-size: 30px;
}
nav ul{
  list-style-type: none;
  display: flex;
  gap: 40px;
  font-weight: 700;
}