@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  overflow-x: hidden;
}
.content{
  position: absolute;
  z-index: 1;
}
nav{
  color: white;
  z-index: 2;
  position: relative;
  display: flex;
  padding: 4rem 8rem;
  justify-content: space-between;
}
nav span{
  font-size: 30px;
}
nav ul{
  list-style-type: none;
  display: flex;
  gap: 40px;
  font-weight: 700;
}
.link:hover, .celestialBody:hover{
  cursor: pointer;
}

/*Description*/
#description{
  background-color: aliceblue;
  position: absolute;
  z-index: 1;
  padding: 1.5em;
  left: 3em;
  border-radius: 0.5em;
  top: 9em;
  opacity: 0;
  transition: opacity 1s ease;
}